:root{
    --background-color: black;
    --primary-color: rgb(20, 20, 20);
    --secondary-color: rgb(70, 70, 70);

    --primary-text-color: white;
    --secondary-text-color: lightgray;

    --active-color: gray;
}